
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">校友企业</li>
        </ol>
    </nav>
</div>

{{!-- 校友企业 --}}
<div class="container-fluid" id="enterprise">
    <div class="border border-danger rounded w-100 p-3">
        <span class="text-danger">*请有意向在这发广告的校友，将相关信息发至我邮箱 gordonyuzr@gmail.com ，如公司名字，业务介绍，联系方式，公司网站（如有）。还有，请注明您的姓名或微信名，以便我确认您的确是校友会成员。我会尽快更新到网页上。</span>
    </div>

    {{!-- 分类 --}}
    <h2 class="text-center mb-3 mt-5" style="color: #bc1e58"><b>企业分类</b></h2>
    <div id="category" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 w-75 mx-auto my-3">
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100 card-body"><i class="fas fa-home"></i></div>
                <div class="card-footer text-center">
                    {{!-- <a href="#" class="stretched-link" data-target="#real-estate"> --}}
                    <a href="#" class="stretched-link" data-target="#{{enterprise_list.0.id}}">
                        <h5 class="card-title mb-0">房产买卖</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100 card-body"><i class="fas fa-balance-scale"></i></div>
                <div class="card-footer text-center">
                    <a href="#" class="stretched-link" data-target="#{{enterprise_list.1.id}}">
                        <h5 class="card-title mb-0">法律咨询</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100 card-body"><i class="fas fa-hand-holding-usd"></i></div>
                <div class="card-footer text-center">
                    <a href="#" class="stretched-link" data-target="#{{enterprise_list.2.id}}">
                        <h5 class="card-title mb-0">保险理财</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100 card-body"><i class="fas fa-couch"></i></div>
                <div class="card-footer text-center">
                    <a href="#" class="stretched-link" data-target="#{{enterprise_list.3.id}}">
                        <h5 class="card-title mb-0">家居美容</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100 card-body"><i class="fas fa-handshake"></i></div>
                <div class="card-footer text-center">
                    <a href="#" class="stretched-link" data-target="#{{enterprise_list.4.id}}">
                        <h5 class="card-title mb-0">校友互助</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100 card-body"><i class="fas fa-hourglass-half"></i></div>
                <div class="card-footer text-center">
                    <a href="#" class="stretched-link" data-target="#{{enterprise_list.5.id}}">
                        <h5 class="card-title mb-0">其它服务</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{# enterprise_list}}
    <h2 id="{{id}}" class="text-center mb-3 mt-5" style="color: #bc1e58"><b>{{category}}</b></h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 w-75 mx-auto my-3">
        {{# enterprise}}
        <div class="col mb-4">
            <div class="card h-100">
                <div class="w-100">
                    <div id="{{id}}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {{# logo}}
                            <div class="carousel-item active company-cover">
                                <img src="{{logo-link}}" class="card-img-top">
                            </div>
                            {{/ logo}}
                        </div>
                        <a class="carousel-control-prev" href="#{{id}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#{{id}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{enterprise-name}}</h5>
                    {{# info}}
                    <p class="card-text my-0">{{content}}</p>
                    {{/ info}}
                    <a href="{{website}}" class="mt-auto" target="_blank"><u>公司链接 >></u></a>
                </div>
                <div class="card-footer text-right">
                    <small class="text-muted d-block">{{name}}</small>
                    <small class="text-muted d-block">{{title}}</small>
                </div>
            </div>
        </div>
        {{/ enterprise}}
    </div>
    {{/ enterprise_list}}


</div> 

{{>footer}}  

<script>
    $('#category .card').on('click', (e) => {
        let destination = e.target.getAttribute('data-target');
        $("html,body").animate({scrollTop: $(destination).offset().top}, 500);
    })
</script>