
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/events">活动动态</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
</div>

{{!-- 活动报道 --}}
<div class="container-fluid" id="event-page">
    <div class="w-75 mx-auto my-3">
        {{#if login}}
        <div class="d-flex flex-wrap">
            <button type="button" class="btn btn-outline-primary mx-auto my-3 d-block">编辑</button>
            <button type="button" class="btn btn-outline-primary mx-auto my-3 d-block">删除</button>
        </div>
        
        {{/if}}
        <p class="sr-only">{{id}}</p>
        <h3 class="text-center mb-3">{{title}}</h3>
        <div class="d-flex flex-wrap my-3 justify-content-around">
            <small class="text-danger font-weight-bold">活动日期：{{event_date}}</small><small>作者：{{author}}</small><small>发表日期：{{create_date}}</small>
        </div>
        {{breaklines content}}
    </div>
</div>


{{>footer}}  
