
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item"><a href="/events">活动动态</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </nav>
</div>

{{!-- 活动报道 --}}
<div class="container-fluid" id="event-page">
    <div class="w-75 mx-auto my-3 pb-5">
        {{#if login}}
        <div class="d-flex flex-wrap justify-content-around">
            <button type="button" id="edit" class="btn btn-outline-primary my-3 d-block">编辑</button>
            <button type="button" id="delete" class="btn btn-outline-primary my-3 d-block">删除</button>
        </div>
        {{/if}}

        <p id="event_id" class="sr-only">{{_id}}</p>
        <h3 class="text-center mb-3">{{title}}</h3>
        <div class="d-flex flex-wrap my-3 justify-content-around">
            <small class="text-danger font-weight-bold">活动日期：{{event_date}}</small><small>作者：{{author}}</small><small>发表日期：{{create_date}}</small>
        </div>

        <div class="text-justify">
            {{breaklines content}}
        </div>

        {{#if pdf}}
        <div class="w-100 pdf-body mt-3">
            <p>若不能正常显示，<a href="{{pdf}}" target="_blank">请点这里</a></p>
            <a id="pdf" href="{{pdf}}"></a>
        </div>
        {{/if}}

    </div>
</div>

<script>

    $('#pdf').media({width: '100%',height: '600px',autoplay: true});

    $('#edit').on('click', () => {
        alert('待开发....但您可以删除文章再重发')
    });

    $('#delete').on('click', () => {

        if (!confirm("一旦删除，文章不能恢复。\n您确定要删除？")) {
            return;
        }

        const event_id = $('#event_id').html();

        fetch('/events/' + event_id, {
            method: 'DELETE',
        }).then((res) => res.json())
          .then((data) => {
            if (data.err) {
                return alert(data.err);
            }
            alert('删除成功');
            window.location.href = '/events';
          })
          .catch((err)=>console.log(err));
    });
</script>

{{>footer}}  
