
{{>header}}

{{!-- 导航栏 --}}
<div class="container-fluid" id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">文娱队伍</li>
        </ol>
    </nav>
</div>
    

<div class="container-fluid" id="sport-teams">

    <div class="w-75 mx-auto my-3">
        <div class="accordion" id="accordionTeams">
            {{# sport_teams}}
            <div class="card">
                <div class="card-header" id="heading{{tagId}}">
                    <h5 class="mb-0">
                        <a href="#" class="collapsed stretched-link" data-toggle="collapse" data-target="#collapse{{tagId}}" aria-expanded="false" aria-controls="collapse{{tagId}}">
                            >> {{name}}
                        </a>
                    </h5>
                </div>
                <div id="collapse{{tagId}}" class="collapse" aria-labelledby="heading{{tagId}}" data-parent="#accordionTeams">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div>
                            <img src="{{image}}" class="w-100">
                        </div>
                        <div class="p-3">
                            <p><b>队长: {{header}}</b></p>
                            <p>领队: {{leader}}</p>
                            {{# members}}
                            <p class="my-0">{{team}}成员: {{names}}</p>
                            {{/ members}}
                            {{#if note}}
                            <p><i>{{note}}</i></p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                </div>
            </div>
            {{/ sport_teams}}
            
        </div>
    </div>

</div>
    
{{>footer}}  
